<div class="row">
<h4>Search Results</h2>
</div>
<br>

<div class="row">
  <% @results.each do |r| %>
    <div class="col-sm-2">
      <div class="card">
        <img class="card-img-top" src=<%=r.picture%> alt=<%r.pattern_name%>>
        <div class="card-body">
          <h5 class="card-title"><%= r.pattern_name %></h5>
          <a class="card-text" href="http://www.ravelry.com/patterns/library/<%= r.web_link %>">View on Ravelry</a>
          
          <%= button_to "Save Pattern", :method => :post, :action => :create, :params => {:id => r.id} %>
        </div>
      </div>
    </div>
  <% end %>
</div>
  